

.blue-background {
    background: #87bafd;
}

.white-background {
    background: #FFFFFF;
}

.thinner-black-border {
    border-color: #0b132b;
    border-width: 5px;
    border-style: solid;
}

.kaushan-script-font {
    font-family: 'Kaushan Script', cursive;
}

.baloo2-font {
    font-family: 'Baloo 2', cursive;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

h2 {

}

h3 {

}