/*@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Zeyada&display=swap');
*/

.white-background {
    background-color: #FFFFFF;
}
.celtic-blue-background {
    background-color: #266dd3;
}
.gradient-background {
    background: linear-gradient(180deg, #9097a0, #FFFFFF);
}
.max-blue-green-background {
    background-color: #5bc0be;
}
.black-text {
    color: #0b132b;
}
.celtic-blue-text {
    color: #266dd3;
}
.thin-black-border {
    border-color: #0b132b;
    border-width: 10px;
    border-style: solid;
}
.thinner-black-border {
    border-color: #0b132b;
    border-width: 5px;
    border-style: solid;
}



head {
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

h2 {
    font-family: monospace, cursive;
    font-size: 250%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    padding-bottom: 0%;
}

p {
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    width: 100%
}
.nav-li {
    display: inine;
    float: right;
}

.nav-a {
    display: block;
    padding: 2%;
    background-color: #266dd3;
}
.nav-a:hover {
    background-color: #5bc0be;
}
