/**/ 
/*Background Colors*/ 
.dark-green {
    background-color: #283618;
}
.light-green {
    background-color: #606c38;
}
.light-tan {
    background-color: #fefae0;
}
.medium-tan {
    background-color: #dda15e;
}
.dark-tan {
    background-color: #bc6c25;
}

/*Font families*/
.open-sans {
    font-family: 'Open Sans', sans-serif;
} 
.dosis {
    font-family: 'Dosis', sans-serif;
}

/* Tag specifications */ 
h1 {
    font-family: 'dosis', sans-serif;
    color: #fefae0;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
h2 {
    font-family: 'dosis', sans-serif;
    color: #fefae0;
    font-size: 150%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


p {
    font-family: 'dosis', sans-serif;
}

a {
    font-family: 'dosis', sans-serif;
    font-weight: 500;
    font-size: large;
}

.left-padding {
    padding-left: 10%;
}

.large-logo {
    font-size: 400%;
    font-family: "Open Sans", sans-serif;
    /*
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 20%;
    */
    background-color: #606c38;
    display: inline-block;
}

/*Nav bar styling*/

ul {
    display: inline-block;
    position: sticky;
    list-style-type: none;
    margin-top: 0%;
    top:0;
    width: 95%;
}

.nav-bar {
    padding: 2%;
    color: #fefae0;
    background-color: #606c38;
    display: inline-block;
    float: right;
}
.nav-bar:hover {
    background-color: #283618;
}

/* End Nav bar styling*/