/*@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Zeyada&display=swap');
*/
head {
    background-color: #aba8b2;
    text-align: center;
}
h1 {
    background-color: #aba8b2;
    color: #266dd3;
    text-align: center;
}
h2 {
    font-family: monospace, cursive;
}

body {
    background-color: #aba8b2;
    text-align: center;
}
