/**/ 
/*Background Colors*/ 
.dark-green {
    background-color: #283618;
}
.light-green {
    background-color: #606c38;
}
.light-tan {
    background-color: #fefae0;
}
.medium-tan {
    background-color: #dda15e;
}
.dark-tan {
    background-color: #bc6c25;
}

/*Font families*/
.open-sans {
    font-family: 'Open Sans', sans-serif;
} 
.dosis {
    font-family: 'Dosis', sans-serif;
}

/* Tag specifications */ 
h1 {
    font-family: 'dosis', sans-serif;
    color: #283618;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
h2 {
    font-family: 'dosis', sans-serif;
    color: #283618;
    font-size: 150%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    font-family: 'dosis', sans-serif;
    color: #283618;
    font-size: 150%;
    text-align: left;
    margin-left: 5%;
    margin-top: 1%;
}

h4 {
    font-family: 'dosis', sans-serif;
    color: #283618;
    font-size: 140%;
    font-weight: 800;
    text-align: left;
    margin-left: 5%;
    margin-top: 1%;
}
p {
    font-family: 'dosis', sans-serif;
    font-size: large;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;

}

ul, ol {
    font-family: 'dosis', sans-serif;
    padding-left: 7%;
    font-weight: 600;
}

a {
    font-family: 'dosis', sans-serif;
    font-weight: 500;
    font-size: 150%;
    color: #283618;
}

.p-links {
    font-family: 'dosis', sans-serif;
    font-size: large;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
}

.date {
    text-align: right;
    padding-right: 5%;
    font-family: 'dosis', sans-serif;
    font-weight: 600;
}

.top-position{
    vertical-align: top  ;
}
.bottom-padding {
    padding-bottom: 3%;
}

/* Images */
.responsive {
    max-width: 90%;
    width: 40%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.code-imgs {
    width: 40%;
}

.jsfundimgs {
    vertical-align: top;
    display: inline-block;
    width: auto;
    max-width: 90%;
    height: auto;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10%;

/* End Images */

.left-margin {
    margin-left: 5%;
}

/*Nav bar styling*/
.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #606c38;
    color: #fefae0;
    justify-content: flex-end;
}
.nav-bar > a {
    display: inline-block;
    vertical-align: top;
    line-height: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #fefae0;
    position: sticky;
}
.large-logo {
    font-family: "Open Sans", sans-serif;
    line-height: 80px;
    font-size: 350%;
    margin-top: 10px;
    margin-left: 50px; 
    /*margin-right: 65%;*/
}
.hovering:hover {
    background-color: #283618;
}
/* End Nav bar styling*/

/* Misc */ 
.left-padding {
    padding-left: 10%;
}

/*Page Specific*/

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-family: "dosis", sans-serif;
    font-weight: 700;
}

.centered {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}